/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.7);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  box-sizing: border-box;
}


body {
  margin: 3rem;
  min-width: 320px;
  min-height: 100%;
}

#app {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
} */

html {
  margin: 0;
  padding: 0;
}